div-1 {
    background-color: aqua;
}

.contenedor {
    width: 100%;
    margin: auto;
}

footer .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
}

.copy {
    font-size: 20px;
}

.sociales {
    width: 100%;
    text-align: center;
    font-size: 28px;
}

.sociales a {
    color: #333;
    text-decoration: none;
}

@media (min-width:768px) {
    .sociales {
        width: auto;
    }

    footer .contenedor {
        justify-content: space-between;
    }
}


@media (min-width:1024px) {
    .contenedor {
        width: 1000px;
    }
}

.container:hover .imagen {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    z-index: 1;
    animation-name: girar;
    animation-duration: 3s;
    animation-iteration-count: initial;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.81, 0.07, 0.59, 0.46);
}

.container {
    overflow: hidden;
}

@keyframes rotar {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}

@keyframes girar {
    from {
        transform: rotateY(0deg);
        transform-style: preserve-3d;
    }

    to {
        transform: rotateY(180deg);
        transform-style: preserve-3d;
    }

}